{% macro render_pagination(pagination) %}
{% set page_range = 2 %}
  <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}">&laquo; Vorige</a>
    {% else %}
      <span class="disabled">&laquo; Vorige</span>
    {% endif %}
    {% set start_range_end = 1 + page_range if pagination.page > page_range else pagination.page %}
    {% set end_range_start = pagination.pages - page_range + 1 if pagination.page < pagination.pages - page_range + 1 else pagination.page + 1 %}
    {% set pre_range_start = start_range_end if start_range_end > pagination.page - page_range else pagination.page - page_range %}
    {% set post_range_end = pagination.page + page_range + 1 if pagination.page + page_range + 1 < end_range_start else end_range_start %}
    {% for page in range(1, start_range_end) %}
      | <a href="{{ pagination.for_page(page)|url }}">{{ page }}</a>
    {% endfor %}
    {% if start_range_end != pre_range_start %}
      | ...
    {% endif %}
    {% for page in range(pre_range_start, pagination.page) %}
      | <a href="{{ pagination.for_page(page)|url }}">{{ page }}</a>
    {% endfor %}
      | <span class="current">{{ pagination.page }}</span>
    {% for page in range(pagination.page + 1, post_range_end) %}
      | <a href="{{ pagination.for_page(page)|url }}">{{ page }}</a>
    {% endfor %}
    {% if post_range_end != end_range_start %}
      | ...
    {% endif %}
    {% for page in range(end_range_start, pagination.pages + 1) %}
      | <a href="{{ pagination.for_page(page)|url }}">{{ page }}</a>
    {% endfor %}
    {% if pagination.has_next %}
      | <a href="{{ pagination.next|url }}">Volgende &raquo;</a>
    {% else %}
      | <span class="disabled">Volgende &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_pagination_index_start(pagination) %}{%
  set nb_items_page1 = pagination.for_page(1).pagination.items.count() %}{%
  set page_current = pagination.page %}{%
  if page_current == 1 %}{{
    1 }}{%
  else %}{{
    1 + (page_current - 1) * nb_items_page0 }}{%
  endif %}{%
endmacro %}
