html {
    height: 100%;
}

#main_container {
    padding-top: 1rem;
}

.navbar-logo {
    background-color: white;
    border-radius: 20%;
}

.navbar-brand {
    padding: 0;
}

.navbar img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20%;
}


body {
   position: relative;
   padding-bottom: 6rem;
   min-height: 100%;
}

.footer {
    padding-top: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
