{% extends "layout.html" %}
{% from "macros/location.html" import render_location_name, render_location_address %}
{% from "macros/person.html" import render_person_iterable, render_person_name, render_person_title %}
{% from "macros/time.html" import date_long_tostr %}
{% set year = this.date_start.year %}
{% set title = 'Redderscursus - Hoger Redder - {}'.format(year) %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
<p>
    In {{ year }} gaat de redderscursus door te:<br />
    {{ render_location_name(this.location) }}<br>{{ render_location_address(this.location) }}
</p>
<h2>Belangrijke data</h2>
<p><u>Startdatum:</u> {{ date_long_tostr(this.date_start) }}</p>
<p><u>Cursusmomenten:</u>
<ul>
{% for date_lesson in this.dates_lesson %}
    <li>{{ date_lesson }};</li>
{% endfor %}
</ul></p>
<p><u>Theorie-examen:</u> {{ date_long_tostr(this.date_exam_theory) }}</p>
<p><u>Praktijk-examen:</u> {{ date_long_tostr(this.date_exam_practice) }}</p>
<strong>Alle data onder voorbehoud.</strong>
<p><u>Cursusverantwoordelijke:</u> {{ bag('site.title_long') }}</p>
<p><u>Docent:</u> {{ render_person_iterable(this.teachers, separator=', ') }}</p>
<p><u>Contactpersoon:</u> {{ render_person_name(this.person_contact, link=True) }}</p>
<p><u>Prijs:</u> &euro;{{ this.price }},-<br>
Dit bedrag omvat:
<ul>
{% for benefit in this.benefits %}
    <li>{{ benefit }}{% if not loop.last %},{% else %}.{% endif %}</li>
{% endfor %}
</ul>
</p>
<h2>Algemene informatie</h2>
{{ this.information_common }}
{% endblock %}
