{% set activities = get_club_activities() %}
{% extends "page.html" %}
{% block body %}
<h1>{{ this.title }}</h1>
{{ this.body }}
<form id="enlist_form" action="{{ site.get('/lidmaatschap/inschrijven2/') | url }}" method="post" novalidate>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="inputState">Activiteit</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-crosshairs"></i>
        </div>
        <select id="inputState" name="activity" class="form-control" required>
          <option disabled="disabled" value="" selected>Kies activiteit</option>{%
            for id, activity in activities.items() %}
          <option value="{{ id }}">{{ activity.description }} (&euro; {{ activity.price }})</option>{%
            endfor%}
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirstname">Voornaam</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-address-book-o"></i>
        </div>
        <input type="text" name="firstname" id="inputFirstname" placeholder="Voornaam" class="form-control" required>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputSurname">Familienaam</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-address-book-o"></i>
        </div>
        <input type="text" name="surname" id="inputSurname" placeholder="Familienaam" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="inputStreet">Straat + straatnummer</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-map-marker"></i>
        </div>
        <input type="text" name="street" id="inputStreet" placeholder="Straat + straatnummer" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-3">
      <label for="inputPostalcode">Postcode</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa-fw">#</i>
        </div>
      <input type="number" name="postalcode" id="inputPostalcode" placeholder="Postcode" class="form-control" required>
      </div>
    </div>
    <div class="form-group col-sm-9">
      <label for="inputCity">Stad</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-map-signs"></i>
        </div>
      <input type="text" name="city" id="inputCity" placeholder="Stad" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="inputEmail">E-mailadres</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-envelope-o"></i>
        </div>
        <input type="email" name="email" id="inputEmail" placeholder="E-mailadres" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="inputPhone">Telefoonnummer</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-phone"></i>
        </div>
        <input type="tel" name="phone" id="inputPhone" placeholder="Telefoonnummer" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="inputMobile">GSM nummer</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-mobile-phone"></i>
        </div>
        <input type="tel" name="mobile" id="inputMobile" placeholder="GSM nummer" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="inputBirthdate">Geboortedatum</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-fw fa-calendar"></i>
        </div>
      <input type="date" name="birthdate" id="inputBirthdate" placeholder="Geboortedatum" class="form-control" required>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Versturen</button>
</form>
{% raw %}
<script>
(function() {
  'use strict';

  window.addEventListener('load', function() {
    let form = document.getElementById('enlist_form');
    form.addEventListener('submit', function(event) {
      let contactEntries = [
        document.getElementById("inputMobile"),
        document.getElementById("inputPhone"),
      ];

      let contactsValid = false;
      for (let entry of contactEntries) {
        contactsValid = contactsValid || (entry.value.trim() != '');
      }

      for (let entry of contactEntries) {
        entry.required = contactsValid ? undefined : true;
      }

      let formValid = form.checkValidity();

      if (!formValid) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();
</script>
{% endraw %}
{% endblock %}
