<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ bag('site.description') }}">
    <meta name="author" content="{{ bag('site.title_long') }}">
    <link rel="icon" href="{{ '/static/img/icon.ico' | asseturl }}">
    <title>{% block title %}Welcome{% endblock %} &mdash; {{ bag('site.title_short') }}</title>

    <link rel="stylesheet" href="{{ '/static/gen/styles.css' | asseturl }}">
    <link rel="stylesheet" href="{{ '/static/thirdparty/css/font-awesome.min.css' | asseturl }}">
  </head>
<body>
  <header>
    <nav class="navbar sticky-top navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand text-hide" style="background-image: url('{{ '/static/img/icon.png' | asseturl }}'); background-size: 50px 50px; width: 50px; height: 50px;"
         href="{{ site.root | url }}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">{%
          for href, title in bag('main-nav').items() %}{%
            set is_active = this.path == href or (href != '/' and this.is_child_of(href)) %}
              <li class="nav-item{% if is_active %} active{% endif
                  %}"><a class="nav-link" href="{{ href | url }}">{{ title }}</a></li>{%
          endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
{% block body %}{% endblock %}
    <footer>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">{%
          set root = site.get('/') %}{%
          set parents = get_parents(this) %}{%
          if parents is iterable %}{%
            for parent in parents[:-1] %}
              <li class="breadcrumb-item">
                <a href="{{ parent | url }}">{{ parent.title }}</a></li>
              </li>{%
            endfor %}
          <li class="breadcrumb-item active">{{ parents[-1].title }}</li>{%
          endif %}
          </ol>
      </nav>
      <i class="fa fa-copyright"></i> {{ bag('site.year_lastchange') }} door <a href="mailto:{{ bag('person.admin_site.email') }}">{{ bag('person.admin_site.title') }}</a>
    </footer>
  </div>
  <script src="{{ '/static/gen/app.js' | asseturl }}"></script>
  <script src="{{ '/static/gen/styles.js' | asseturl }}"></script>
</body>
</html>
