{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% from "macros/time.html" import date_long_tostr %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h1>{{ this.title }}</h1>
{{ this.body }}
<div id="newsitems">
  <ul>
    {% for news in this.pagination.items %}
  <li>
  <article>
    <div class="publish_time">Gepubliceerd op {{ date_long_tostr(news.pub_datetime) }}.</div>
    <div class="title"><a href="{{ news | url }}">{{ news.title }}</a></div>
    <div class="body">{{ news.body }}</div>
  </article>
  </li>
    {% endfor %}
  </ul>
</div>
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}
