{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination, render_pagination_index_start %}
{% from "macros/certification.html" import render_recertification_title %}
{% from "macros/time.html" import date_long_tostr %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<h1>{{ this.title }}</h1>
{{ this.body }}
<p>
    <ol start="{{ render_pagination_index_start(this.pagination) }}">
{% for recert in this.pagination.items %}
    <li>{{ render_recertification_title(recert, link=True) }}</li>
{% endfor %}
    </ol>
</p>
{% if this.pagination.pages > 1 %}
{{ render_pagination(this.pagination) }}
{% endif %}
{% endblock %}
