{% extends "layout.html" %}
{% from "macros/location.html" import render_location_name, render_location_address %}
{% from "macros/person.html" import render_person_iterable, render_person_title %}
{% from "macros/time.html" import date_long_tostr, time_tostr %}
{% from "macros/util.html" import join_iterable %}
{% set year = this.datetime_start.year %}
{% set title = 'Bijscholing {}'.format(date_long_tostr(this.datetime_start)) %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<p>
<u>Datum:</u> {{ date_long_tostr(this.datetime_start) }}<br>
<u>Tijd:</u> {{ time_tostr(this.datetime_start) }} - {{ time_tostr(this.datetime_stop) }}<br>
<u>Plaats:</u> {{ render_location_name(this.location) }}, {{ render_location_address(this.location, separator=', ') }}<br>
<u>Prijs:</u> &euro;{{ this.price }},-<br>
<u>Docenten:</u> {{ render_person_iterable(this.teachers, separator=', ') }}<br>
Plaatsen beperkt tot {{ this.capacity }} deelnemers.<br>
Info en inschrijvingen: {{ render_person_title(this.contact, link=True) }}
</p>
{% endblock %}
