{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination, render_pagination_index_start %}
{% from "macros/time.html" import date_long_tostr %}
{% from "macros/location.html" import render_location_name %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h1>{{ this.title }}</h1>
{{ this.body }}
  <ul class="activities-index">{% for act in this.pagination.items %}
    <li><ul>
      <li>Datum: {{ date_long_tostr(act.date) }}</li>
      <li>Locatie: {{ render_location_name(act.location) }}</li>
      <li>Titel: <a href="{{ act|url }}">{{ act.title }}</a></li>
      <li>{{ act.body }}</li>
    </ul>
    </li>{% endfor %}
  </ul>
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}
