html {
    height: 100%;
}

#main_container {
    padding-top: 1rem;
}

.navbar img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20%;
}

body {
   position: relative;
   padding-bottom: 10rem;
   min-height: 100%;
}

footer {
    padding-top: 0.8em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#footer_nav {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

#footer_contact {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

/*
.contact-option {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    border-radius: 50%;
    border-width: 2px;
    font-size: 150%;
}
*/

.btn-contact {
  font-size: 1.25rem;
  line-height: 2rem;
}

.navbar {
    .navbar-collapse {
        .navbar-nav {
            font-size: 120%;
            font-variant: small-caps;
            .nav-item {
                &.active {
                    font-weight: bolder;
                }
            }
        }
    }
}

.bg-third {
    background-color: $third !important;
}
